[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[B2C8-40D2]
row=2
col=0

[242aa101-bb3a-44ea-8079-edbe3e03d88b]
row=0
col=0

[3DA9-1511]
row=1
col=0

[BEF2-2864]
row=3
col=0

[Lixeira]
row=4
col=0

[/]
row=5
col=0

[/home/noturno]
row=6
col=0

